<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://kit.fontawesome.com/a342ac4253.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../css/navbar.css">
</head>
<body>
<ul class="navbar1">
  <li class="left bounce" style="margin-left: 2px;"><a href="/homepage">Home</a></li>
  <li class="left bounce"><a href="/dashboard" class="dashboard1">Dashboard</a></li>
  <li class="right">
    <a  href="/logout" class="dropbutton1 logout bounce" style="display: inline-block;">Logout</a>
  </li>
  <li class="dropdown1">
    <a href="javascript:void(0)" class="dropbutton1">Sign in / Register</a>
    <div class="dropdown1-content">
      <a href="/signin" style="text-align: center;" >Sign in</a>
      <a href="/signup" style="text-align: center;">&nbsp;Register</a>
    </div>
  </li>
</ul>
<script>
  const a = {{isLoggedOut}} ? true : false;
  if(a){
    const e1 = document.getElementsByClassName('logout');
    const e2 = document.getElementsByClassName('right');
    const e4 = document.getElementsByClassName('dashboard1');
    e1[0].setAttribute('style', 'display:none');
    e2[0].setAttribute('style', 'display:none');
    e4[0].setAttribute('style', 'display:none');
  }

  if(!a) {
    const e3 = document.getElementsByClassName('dropdown1');
    e3[0].setAttribute('style', 'display:none');
  }
</script>
</body>
</html>


